
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex align-items-center justify-content-center flex-column">
    <h3>Usuario creado con exito!</h3>
    <a class="btn btn-outline-success mt-2 w-50" asp-controller="Account" asp-action="Register">Volver</a>
</div>


