@model ps_mosquito_asp.Models.UserModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a Mosquito</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body class="d-flex align-items-center" style="height: 100vh; background-color:#9CC5A1;">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="card p-4">
                    <div class="text-center mb-4">
                        <img src="/logo_mosquito.png" alt="Mosquito Logo" class="rounded-circle mb-3" style="width: 100px; height: 100px;">
                        <h4>Bienvenido a Mosquito</h4>
                    </div>
                    <form asp-action="Login">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="mb-3">
                            <label asp-for="email" class="form-label">E-mail</label>
                            <input asp-for="email" class="form-control" placeholder="nombre@ejemplo.com" />
                            <span asp-validation-for="email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="password" class="form-label">Contraseña</label>
                            <input asp-for="password" class="form-control" placeholder="Contraseña" />
                            <span asp-validation-for="password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Iniciar Sesion" class="btn btn-success w-100" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
 

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-E1wp8VKSDon1/m3CZSzUGetQ+LXetK/hQsFf4FgDgXyCr3Eujmev75IwUjzjUpf" crossorigin="anonymous"></script>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

</body>
</html>

