@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

	<select id="select_zone" class="form-control">
		<option value="0">Seleccione una Zona</option>
		<option value="1">Zona #1</option>
		<option value="2">Zona #2</option>
		<option value="3">Zona #3</option>
		<option value="4">Zona #4</option>
	</select>

	<div id="map"></div>
</div>
