
@{
    ViewData["Title"] = "Tareas";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="d-flex align-items-center justify-content-center flex-column" style="height: 50vh;">
    <h3>Tareas Asignadas correctamente!</h3>
<a class="btn btn-outline-success mt-2 w-50" asp-controller="Zonas" asp-action="Index">Volver</a>
</div>

