
@{
    ViewData["Title"] = "AssignTasks";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="d-flex align-items-center justify-content-center">
<h3>Tareas Asignadas correctamente!</h3>
</div>

