@model List<UserModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<!DOCTYPE html>
<html>
<head>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQVYzLAj0zkPB59vVvC0-RbMX0UFJgVuk&callback=initMap&libraries=places&v=weekly" async></script>
    <script>
        var map, searchBox, cityPolygon;
        function initMap() {
            var cochabamba = { lat: -17.383333, lng: -66.166667 };
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: cochabamba
            });

            var input = document.getElementById('city-search');
            searchBox = new google.maps.places.SearchBox(input);
            map.controls.push(input);

            map.addListener('bounds_changed', function () {
                searchBox.setBounds(map.getBounds());
            });

            searchBox.addListener('places_changed', function () {
                var places = searchBox.getPlaces();

                if (places.length == 0) {
                    return;
                }

                // Si ya hay un polígono dibujado, lo eliminas
                if (cityPolygon) {
                    cityPolygon.setMap(null);
                }

                places.forEach(function (place) {
                    if (!place.geometry) {
                        console.log("Returned place contains no geometry");
                        return;
                    }

                    // Construyes las coordenadas para el polígono rectangular
                    var bounds = place.geometry.viewport;
                    var northEast = bounds.getNorthEast();
                    var southWest = bounds.getSouthWest();
                    var northWest = new google.maps.LatLng(northEast.lat(), southWest.lng());
                    var southEast = new google.maps.LatLng(southWest.lat(), northEast.lng());

                    var polygonCoords = [northEast, northWest, southWest, southEast];

                    // Dibujas el polígono
                    cityPolygon = new google.maps.Polygon({
                        paths: polygonCoords,
                        strokeColor: '#FF0000',
                        strokeOpacity: 0.8,
                        strokeWeight: 2,
                        fillColor: '#FF0000',
                        fillOpacity: 0.35
                    });
                    document.getElementById('polygonCoords').value = JSON.stringify(polygonCoords);
                    cityPolygon.setMap(map);
                    map.fitBounds(bounds);
                   
                });
            });
        }

        function searchCity() {
            google.maps.event.trigger(searchBox, 'places_changed');
        }
    </script>


</head>
<body onload="initMap()">
    <div style="display: flex;">
        <!-- Lado izquierdo con campos para asignar zona -->
        <div style="width: 50%; padding: 20px;">
            <h2>Asignar Zona</h2>
            <div class="card" style="background-color:#DCE1DE;">

            <form method="POST" asp-action="AssignTasks" asp-controller="Zonas">
                <div>
                    <select id="SupervisorId" name="SupervisorId" class="form-select">
                        <option value="">-- Seleccione un Supervisor --</option>
                        @foreach (var supervisor in Model)
                        {
                            <option value="@supervisor.id">@supervisor.name @supervisor.lastname</option>
                        }
                    </select>
                </div>
                <div class="form-control">
                    <label>Tipo:</label>
                    <input type="checkbox" id="azul" name="tipo" value="azul">
                    <label for="azul">Azul</label>
                    <input type="checkbox" id="rojo" name="tipo" value="rojo">
                    <label for="rojo">Rojo</label>
                    <input type="checkbox" id="verde" name="tipo" value="verde">
                    <label for="verde">Verde</label>
                </div>
                <div class="form-control">
                    <label for="cantidadTareas">Cantidad de Tareas:</label>
                    <input type="number" id="cantidadTareas" name="cantidadTareas" class="form-control">
                </div>
                <div class="form-control">
                        <input type="text" id="polygonCoords" name="polygonCoords" class="form-control">
                </div>
                <button type="submit" class="btn btn-success w-100 mt-3">Asignar Zona</button>
            </form>
            </div>
        </div>

        <!-- Lado derecho con el mapa -->
        <div style="width: 50%;">
            <h6>Seleccionar Zona</h6>
            <div class="input-group mb-3">
            <input id="city-search" type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar">
                <button class="btn btn-outline-secondary" type="button" onclick="searchCity()">
                    <i class="bi bi-search"></i>
                </button>
            </div>
            <div id="map" style="height: 60vh;"></div>
        </div>
    </div>
</body>
</html>
